body{
  margin: 0px;
  color: white;
}

html{
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}
*{
  font-family: 'Roboto', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin: 10px 2% 10px 2%;
  
}

nav div{
  font-family: 'Shadows Into Light', cursive;
}

.navbar nav{
  display: flex;
  gap: 30px;
}

.navbar nav div{
  font-size: 1.5rem;
  width: 100px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
}

.navbar nav div:hover{
  font-size: 2rem;
}

nav div{
  font-family: 'Shadows Into Light', cursive;

}

.clickable{
  cursor: pointer;
}

.name{
  font-size: 2rem;
  font-family: 'Shadows Into Light', cursive;

}

.home-first{
  padding: 40px 0px 40px 0px;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  font-size: 3rem;
}

.home-name{
  font-size: 13rem;
}

.socials-div{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-div:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.socials-title{
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 140px;

}

.socials-parent{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.about-div{
  height: calc(100vh - 160px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.about-top{
  display: flex;
  margin: 0px 5% 0px 5%;
}

.about-image{
  width: 50%;
  display: flex;
  justify-content: center;
}

.about{
  width: 50%;
  font-size: 3vh;
  display: flex;
  text-align: center;
  align-items: center;

}

.skills-div{
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.skills{
  width: 180px;
  height: 180px;
}

.skills-title{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.socials-image{
  width: 80px;
  height: 80px;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contact-title{
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.contact-alter{
  margin-top: 20px;
  font-size: 2rem;
}

form input{
  border-radius: 1rem;
  border: none;
  height: 50px;
  font-size: 2.5rem;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

form textarea{
  margin-top: 40px;
  resize: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.contact-button{
  width: 30%;
  height: 70px;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  margin-top: 20px;


}
.contact-button:hover{
  background-color: #00d2ff;
}

.test2{
  position: absolute;
}


.contact-flex{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh
}

.contact-div{
  background-color: rgba(0, 0, 0, 0.09);
  padding: 20px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  
}

.test5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects{
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-div{
  position: absolute;
  width: 95vw;
  height: 95vh;
  
}

.testtt{
  background-color: rgba(0, 0, 0, 0.09);
  width: 95vw;
  align-content: flex-start;
  height: 90vh;
  white-space: nowrap;
  overflow-y: auto;
  display: 'flex';
  flex-wrap: 'wrap';
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-display{
  background-color: rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 40px);
  border-radius: 1rem;
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image-div{
  width: 95%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 2rem;
  gap: 40px;
  
}

.links span:hover{
  color: rgb(163, 163, 163);
}

.unselect{
  user-select: none;
  
}

.resume{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  border-radius: 2rem;
  height: 45px;
  font-size: 2rem;
  border: 5px solid white;
  transition: all 0.3s;
  font-family: 'Shadows Into Light', cursive;

}

.resume:hover{
  color: #00d2ff;
  background-color: white;

}

.resume:active{
  background-color: rgb(228, 228, 228);
  border: 5px solid rgb(228, 228, 228);

}

.project-title{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 3.5vh;
  margin-bottom: 5px;
}